/* shared elements */
* {
    font-family: 'Work Sans', sans-serif;
    max-width: 1920px;
}

body {
    margin: 0;
    padding: 0;
}


/* nav bar section starts from here */
nav {
    display: flex;
    justify-content: space-between;
    padding: 37px 240px;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav .nav-title {
    display: flex;
    gap: 20px;
}

nav .nav-title img {
    margin-top: 15px;
    width: 86.041px;
    height: 40px;
}

.name {
    font-size: 2.81rem;
    font-weight: 700;
    margin-top: 10px;
}

.name span {
    color: #FF42A5;
}

.nav-list ul {
    display: flex;
}

nav li {
    margin-right: 32px;
    list-style: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

#youtube {
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px 24px 16px 24px;
    margin-left: 32px;
}

#option {
    margin: 15px;
}

/*header section starts from here*/
header {
    background-color: #FFF;

}

.header1 {
    display: flex;
    gap: 68px;
}

.header-left {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.left {
    padding: 148px 249px 148px 240px;
}

.header-right img {
    padding-right: 240px;
}

.header-left h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.header-left h1 {
    margin-top: 0px;
    font-size: 5.93rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}

/* .header-left p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 24px;
} */
.paragraph {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 24px;
}

.pink-btn {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 3em;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: none;
    margin-right: 24px;
    margin-top: 20px;
}

.blue-btn {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    margin-top: 20px;
}

/* main section will start from here */



/* gaming option section */
.gaming-option {
    display: flex;
    flex-wrap: wrap;
    gap: 53px;
    justify-content: center;
    padding: 120px 160px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.g-option:hover {
    color: #FF42A5;
    border-radius: 50px;
    border: 1.5px solid var(--Linear, #FF42A5);
    background: #FFF;
}

.g-option {
    display: flex;
    gap: 16px;
    border-radius: 50px;
    color: #0B0223;
    padding: 20px;
}

.g-option p {
    font-size: 1.25rem;
    font-weight: 600;
}

/* online games section starts from here */

.online-games-title {
    text-align: center;
    padding: 120px 0px 48px 0px;
}

.og-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.og-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.og-des {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 16px;
}

.og-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    text-align: left;
}

.card-image {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
}

.card-des {
    padding-right: 24px;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

/*  */
.card img {
    width: 100%;
    display: block;
    transition: transform 0.3s;
}

.card:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}

.card:hover .overlay {
    opacity: 1;
}

.play-icon {
    color: #fff;
    font-size: 48px;
    margin-bottom: 10px;
}

.watch-now-text {
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25rem;
    font-weight: 600;
}

/*  */



/* instant play section */
.instant-play {
    display: flex;
    gap: 265px;
    padding-left: 380px;
    padding-right: 240px;
    padding-top: 120px;
    margin: 0px;
}

.instant-left {
    text-align: right;
    padding: 230px 0px 230px 0px;
}

.instant-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 0px;
}

.instant-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-des {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0px;
}

.secondary {
    position: relative;
    bottom: 285px;
    right: 150px;
    padding: 0px;
    margin: 0px;
}




/* footer section starts from here */
.footer {
    text-align: center;
    background: #0B0223;
    height: 636px;
}

.footer-title {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 120px 830px 60px 830px;
}

.footer-title img {
    margin-top: 15px;
    width: 86.041px;
    height: 40px;
}

.f-name {
    font-size: 2.81rem;
    font-weight: 700;
    margin-top: 10px;
    color: #FFF;
}

.f-name span {
    color: #FF42A5;
}

.footer-options {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    justify-content: center;
    margin: 0px;
}

.footer-options p {
    margin: 0px;
}

.footer-icons {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
    padding: 0px 730px;
    margin-top: 66px;
    margin-bottom: 74px;
}

.footer-policy {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 500px;
    margin-top: 0px;
}

.footer-policy p {
    margin: 0px;
}

.footer-text {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    margin: 28px 734px 0px 734px;
    margin-bottom: 120px;
}



/* responsive section for large mobile */
@media screen and (max-width:425px) {
    * {
        max-width: 425px;
    }

    nav,
    .nav-list ul,
    .instant-play {
        flex-direction: column;
    }

    .header1 {
        flex-direction: column-reverse;
        margin: 0px;
        gap: 0px;
    }

    .header-left {
        background-size: cover;
        width: 100%;
    }

    .left {
        padding: 0%;
    }

    .header-right img {
        width: 100%;
        padding-right: 0px;
    }

    .header-left h2 {
        margin-top: 0px;
    }

    .paragraph,
    .red-btn,
    .blue-btn {
        margin-top: 0px;
    }

    nav {
        padding: 20px;
    }

    .nav-title {
        margin-top: 50px;
    }

    .nav-list ul {
        margin: 0px;
        text-align: center;
        padding-left: 0px;
    }

    #option {
        margin: 10px 0px;

    }

    #youtube {
        margin: 0px;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 50px;
    }




    /* main section */
    /* online games section starts from here */
    .online-games{
        flex-direction: column;
    }
    .og-cards{
        display: grid;
        grid-template-columns: repeat(1fr);
    }



    /* instant play */

    
    /* gaming option */
    .gaming-option {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
        gap: 20px;
    }

    .g-option {
        gap: 0px;
        border-radius: 50px;
        color: #0B0223;
        padding: 5px;
    }

    .g-option p {
        font-size: 0.65rem;
        font-weight: 600;
    }

    /* footer section */
    .footer {
        height: 879px;
    }

    .footer-title {
        padding: 60px;
    }

    .footer-options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }

    .footer-icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 85px;
        padding: 50px 90px;
    }

    .footer-policy {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        padding: 0px 30px;
    }

    .footer-text {
        margin: 74px 120px;
    }
}




/* responsive section for tablet */
@media screen and (min-width:425px) and (max-width:768px) {
    nav {
        padding: 37px 5px;
        text-align: center;
    }

    .header1 {
        flex-direction: column-reverse;
    }

    .header-right img {
        width: 100%;
        padding-right: 0px;
    }

    .left {
        padding: 20px;
    }

    /* main */

    /* instant play section */
    .instant-play {
        flex-direction: column;
        padding: 100px;
        margin: 0px;
        gap: 30px;
    }

    .instant-left {
        padding: 30px;
        margin: 0px;
        text-align: center;
    }

    .main {
        padding-left: 100px;
        width: 300.833px;
        height: 350px;
    }

    .secondary {
        width: 159px;
        height: 182.54;
        position: relative;
        right: 380px;
        top: 30px;
    }


    /* gaming option */
    .gaming-option {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 50px;
        gap: 20px;
    }

    .g-option {
        gap: 5px;
        border-radius: 50px;
        color: #0B0223;
        padding: 5px;
        align-items: center;
    }

    .g-option p {
        font-size: 0.85rem;
        font-weight: 600;
    }

    .g-option img {
        height: 45px;
    }

    /* footer */
    .footer {
        height: 879px;
    }

    .footer-title {
        padding: 50px;
    }

    .footer-options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }

    .footer-icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 85px;
        padding: 30px 100px;
    }

    .footer-policy {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        padding: 0px 20px;
    }

    .footer-text {
        margin: 0px;
        padding: 60px;
    }
}